[Unit]
Description=QRScanner to MQTT
After=network-online.target syslog.target

#if all the fixing does not work, reboot
# but first, restart 5 times within 30sec
# important: if RestartSec is too high number of restart
# within StartLimitIntervalSec can't be reached and
# StartLimitAction won't be reached (no restart)
# so alsways make sure:
# RestartSec*StartLimitBurst << StartLimitIntervalSec
# AND:
# StartLimitBurst >> 1 for possible problems at boottime
StartLimitIntervalSec=30
StartLimitBurst=5
StartLimitAction=reboot

[Service]
WorkingDirectory=/home/pi/zeitlos/software/qr-code-scanner/
ExecStart=/home/pi/zeitlos/software/qr-code-scanner/qr-scanner.py -b 192.168.10.10 --save-last-debug-picture -v
Restart=always
RestartSec=5
User=pi
Group=pi

# Note that we use Type=notify here since the script will send "READY=1"
# when it's finished starting up
Type=notify
TimeoutSec=15
WatchdogSec=15

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

[Install]
WantedBy=multi-user.target

