[Unit]
Description=MQTT 2 nfty
After=network.target syslog.target

[Service]
WorkingDirectory=/home/pi/zeitlos/software/mqtt-2-ntfy
ExecStart=/home/pi/zeitlos/software/mqtt-2-ntfy/mqtt-2-ntfy.py
Restart=always
RestartSec=15
User=pi
Group=pi

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

[Install]
WantedBy=multi-user.target
