[submodule "promicroControl/promicroControl/lib/qrcode"]
	path = promicroControl/lib/qrcode
	url = https://github.com/ricmoo/QRCode
[submodule "nfc2mqtt/pn532/lib"]
	path = nfc2mqtt/pn532/lib
	url = https://github.com/elechouse/PN532
[submodule "www/forge-sha256"]
	path = www/forge-sha256
	url = https://github.com/brillout/forge-sha256.git
[submodule "www/qr"]
	path = www/qr
	url = https://git.code.sf.net/p/phpqrcode/git
