.vscode/settings.json
.DS_Store
hardware/waagen/elektronik/kiCAD/1284pTest2-backups/*

software/docker/mariadb/data/*
software/docker/nodered/data/.npm/*
software/docker/nodered/data/node_modules/*
software/docker/nodered/data/.config.nodes.json.backup
software/docker/nodered/data/.flows.json.backup
software/docker/nodered/data/package.json
software/docker/nodered/data/node_modules/.package-lock.json
software/docker/nodered/data/.config.nodes.json
software/docker/nodered/data/package-lock.json

software/www/qrscanner-debug/last.png
