[Unit]
Description=Shop Scale Controller for %i
BindTo=%i.device
After=%i.device

[Service]
Restart=always
RestartSec=10s
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/zeitlos/software/shelf-controller/shelf-controller.py -v -b 192.168.10.10 %I
