[Unit]
Description=CAN <-> MQTT for shelf01
After=network.target syslog.target

[Service]
WorkingDirectory=/home/pi/zeitlos/software/shelf-controller
ExecStart=/home/pi/zeitlos/software/shelf-controller/shelf-controller.py -b shop-master shelf01
Restart=always
RestartSec=15
User=pi
Group=pi

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

[Install]
WantedBy=multi-user.target
