[Unit]
Description=Shop Track Collector
After=network.target syslog.target

[Service]
ExecStart=/home/pi/zeitlos/software/shop-track-collector/shop-track-collector.py -v
Restart=always
RestartSec=15
User=pi
Group=pi

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

[Install]
WantedBy=multi-user.target
