[Unit]
Description=IO Raspberry Pico to MQTT
After=network.target syslog.target

[Service]
WorkingDirectory=/home/pi/zeitlos/software/io-usb-readout/
ExecStart=/home/pi/zeitlos/software/io-usb-readout/io-usb-readout.py -b 192.168.10.10 door /dev/ttyACM0
Restart=always
RestartSec=15
User=pi
Group=pi

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
