[Unit]
Description=Scale Controller for %i
BindTo=%i.device
After=%i.device

[Service]
#Type=oneshot
#TimeoutStartSec=300
Restart=always
RestartSec=10s
User=pi
Group=pi
#ExecStart=/home/pi/zeitlos/scaleController/startUp.sh /%I
ExecStart=/usr/bin/python3 /home/pi/zeitlos/scaleController/scaleController.py /%I

#ExecStart=/bin/echo Test /%I > /home/pi/test.txt
#leads to: Test /dev/ttyACM0 > /home/pi/test.txt
